body{
  background-color: #0F100F;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  width: 100%;
  height: 100%;
}

h1{
  text-align: center;
  color: #2FB02E;
}
h2{
  color: #2FB02E;
  list-style-type: none;
  text-decoration-color: #2FB02E;
  display: block;
}
h3{
  text-align: center;
  color: #2FB02E;
}

blockquote p{
  color: #2FB02E;
}
a{
  color:inherit;
}
ul{
  color: #2FB02E;
  list-style-type: none;
  text-decoration-color: #2FB02E;
  display: inline-block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
}
div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px;
}
.navbutton{
  list-style-type: none;
  display: inline;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  color: #2FB02E;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 50px;
  padding-inline-start: 40px;

}

p{
  color: #2FB02E;
  text-align: center;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 50px;
  padding-inline-start: 40px;
}

img{
  width: 100%;
  display: block;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90vw;
  margin: 0 auto;
}

.section-three{
  margin: 40px 0;
}
.single-img{
  position: relative;
  margin: 10px;
}
.single-img-content{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 5px 30px;
  background: rgba(0, 0, 0, 0.7);
}
.single-img-content h3{
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

/***************** Media Queries *****************/


@media screen and (min-width: 800px){
  .gallery{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px){
  .gallery{
      grid-template-columns: repeat(3, 1fr);
  }
}

